numpy>=2.2.6,<2.3
pandas==2.3.2
pyarrow
pandas_ta==0.4.71b0
scikit-learn>=1.5,<1.6
scipy>=1.12,<1.14
xgboost
torch
tqdm
vmdpy
alpaca-py
matplotlib
yfinance
gymnasium
regex
TA-Lib
numba
praw
lightgbm
pytest
