numpy>=2.2.6,<2.3
pandas==2.3.2
pyarrow
pandas_ta==0.4.71b0
scikit-learn>=1.5,<1.6
scipy>=1.12,<1.14
xgboost
torch
tqdm
vmdpy
alpaca-py
matplotlib
yfinance
gymnasium
regex
TA-Lib
numba
praw
lightgbm
pytest
pydantic>=2.11,<3
SQLAlchemy>=2.0,<3
psycopg[binary]>=3.2,<4
alembic>=1.16,<2
google-cloud-storage>=3,<4
